/** 常用色值 **/
/** 常用字体大小 **/
.header .header-top {
  text-align: right;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
.header .header-top a {
  margin-left: 40px;
}
.header .header-top .logo {
  font-size: 18px;
  float: left;
  line-height: 60px;
}
.header .header-top .logo img {
  height: 40px;
  vertical-align: middle;
}
.header .breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title {
  text-align: center;
}
.header .breadcrumb .weather {
  text-align: right;
  font-size: 14px;
}
.header .breadcrumb .weather .date {
  margin-right: 10px;
}
.header .breadcrumd-title {
  text-align: center;
}
.header .breadcrumd-title:after {
  position: absolute;
  left: 65px;
  top: 39px;
  content: "";
  border-top: 9px solid #ffffff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.simple-page .header-top {
  background-color: #1890ff;
  color: #fff;
}
.simple-page .ant-form,
.simple-page .ant-col-12,
.simple-page .weather {
  display: none;
}
