@import '../../style/default.less';
.header{
    .header-top{
        // height: 60px;
        // line-height: 60px;
        // padding: 0 20px;
        // text-align: right;
        text-align: right;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        
    
        a{
            margin-left: 40px;
        }
        .logo{
            font-size: 18px;
            float: left;
            line-height: 60px;
            img{
                height:40px;
                vertical-align: middle;
            }
        }
    }
    .breadcrumb{
        height: 40px; 
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #f9c700;
        .breadcrumb-title{ 
            text-align: center;
           
        }
        .weather{
            text-align: right;
            font-size: 14px;
            .date{
                margin-right:10px
            }
        }
    }
    .breadcrumd-title {
        text-align: center;
        &:after{
            position: absolute;
                left: 65px;
                top: 39px;
                content: "";
                border-top: 9px solid #ffffff;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;

        }
    }

}
.simple-page{
    .header-top{
        background-color: #1890ff;
        color:@colorM;
    }
    .ant-form,.ant-col-12,.weather{
        display: none;
    }
}